amqp==2.5.1
Babel==2.7.0
billiard==3.6.1.0
bootstrap4==0.1.0
celery==4.3.0
Django==2.2.21
django-celery-beat==1.5.0
django-filter==2.2.0
django-localflavor==2.2
django-phonenumber-field==3.0.1
django-simple-history==2.7.3
django-tempus-dominus==5.1.2.8
django-timezone-field==3.1
django-widget-tweaks==1.4.5
dnspython==1.16.0
importlib-metadata==0.23
kombu==4.6.5
monotonic==1.5
more-itertools==7.2.0
phonenumbers==8.10.21
python-crontab==2.3.9
python-dateutil==2.8.0
python-stdnum==1.11
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
vine==1.3.0
zipp==0.6.0
gunicorn==19.9.0
whitenoise==4.1.4

