/*https://codepen.io/jotavejv/pen/KZXjqL*/

/*change this to resize*/
.c {
  list-style: none;
  margin: 0;
  padding: 0;
  /*position: relative;*/
  width: 5em;
  width: 5em;
}
.c li {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: anim 1s ease-in-out infinite;
          animation: anim 1s ease-in-out infinite;
  will-change: transform, filter;
}
.c li:nth-child(1) {
  width: 1em;
  height: 1em;
}
.c li:nth-child(1):after {
  content: '';
  display: block;
  font-size: 25%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: 1em 0 0 rgba(56, 148, 148, 0.2), -1em 0 0 rgba(51, 193, 102, 0.2), 0 1em 0 rgba(187, 238, 51, 0.2), 0 -1em 0 rgba(57, 191, 169, 0.2);
}
.c li:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  width: 2em;
  height: 2em;
}
.c li:nth-child(2):after {
  content: '';
  display: block;
  font-size: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: 1.5em 0 0 rgba(55, 148, 148, 0.4), -1.5em 0 0 rgba(51, 193, 102, 0.4), 0 1.5em 0 rgba(186, 238, 52, 0.4), 0 -1.5em 0 rgba(59, 191, 169, 0.4);
}
.c li:nth-child(3) {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
  width: 3em;
  height: 3em;
}
.c li:nth-child(3):after {
  content: '';
  display: block;
  font-size: 75%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: 2em 0 0 rgba(54, 148, 148, 0.6), -2em 0 0 rgba(51, 193, 102, 0.6), 0 2em 0 rgba(186, 238, 52, 0.6), 0 -2em 0 rgba(54, 191, 169, 0.6);
}
.c li:nth-child(4) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  width: 4em;
  height: 4em;
}
.c li:nth-child(4):after {
  content: '';
  display: block;
  font-size: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: 2.5em 0 0 rgba(57, 148, 148, 0.8), -2.5em 0 0 rgba(51, 193, 102, 0.8), 0 2.5em 0 rgba(187, 238, 51, 0.8), 0 -2.5em 0 rgba(64, 191, 164, 0.8);
}
.c li:nth-child(5) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
  width: 5em;
  height: 5em;
}
.c li:nth-child(5):after {
  content: '';
  display: block;
  font-size: 125%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: 3em 0 0 #3d9494, -3em 0 0 #39d574, 0 3em 0 #baee34, 0 -3em 0 #34bf9b;
}

@-webkit-keyframes anim {
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  90%, 100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes anim {
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  90%, 100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
