{% extends 'index.html' %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Accessibility</h1>

        This site follows the Accessibility policy of Washington State.
        <br><br>
        <h5>Introduction</h5>
        <p>
            WSDOT is committed to making its electronic and information technologies accessible to individuals with disabilities
            by striving to comply with the Americans with Disabilities Act and Washington State Office of the Chief Information
            Office (OCIO) Policy #188.

        </p>

        <h5>"Accessible" definition</h5>
        <p>
            “Accessible” means a person with a disability is afforded the opportunity to acquire the same information,
            engage in the same interactions, and enjoy the same services as a person without a disability in an equally
            effective and equally integrated manner, with substantially equivalent ease of use. The person with a disability
            must be able to obtain the information as fully, equally and independently as a person without a disability.
        </p>
        <p>
            WSDOT uses best efforts to implement the established and testable standard of Web Content Accessibility
            Guidelines 2.0 (WCAG 2). Level AA of these guidelines align with OCIO Policy #188, Information and
            Communication Technologies, and other state and federal law concerning access.
        </p>
        <h5>Principles defining access</h5>
        <p>
            The following principles are used to define access:
            <br>
        <ul>
            <li>
            <b>Perceivable</b> - Information and user interface components must be presentable to users in ways they can perceive.\
            </li><li>
            <b>Operable</b> - User interface components and navigation must be operable.
        </li><li>
            <b>Understandable</b> - Information and the operation of user interface must be understandable.
        </li><li>
            <b>Robust</b> - Content must be robust enough that it can be interpreted reliably by a wide variety of user agents, including assistive technologies.
        </li>
        </ul>
        </p>
        <h5>Help us improve</h5>
        <p>
            If there is anything that we can do to improve, please let us know!
        </p>



    </div>
{% endblock %}