{% extends 'index.html' %}
{% load custom_tags %}
{% load static %}

{% block head_content %}
    {% if request.user|has_group:"Summary reporter" and user_org != 1 and summary_reporter != False %}
{#        <link href="{% static 'css/progress_bar.css'%}" rel="stylesheet">#}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800" align = "center">Dashboard</h1>

        {%  if vp_program  == False and summary_reporter == False %}

            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">

                            <div> Welcome to the Public Transporation Reporting Portal. Please check out the reporting and setting functions. </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        {% if request.user|has_group:"Vanpool reporter" and user_org != 1 and vp_program != False %}
            <div class="row">
                <!-- Groups In Operation -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Groups In Operation | 1 Year Growth</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{groups_in_operation | print_dashboard_cards_data | safe}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Passenger Trips -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Passenger Trips | 1 Year Growth</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_passenger_trips | print_dashboard_cards_data | safe}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-road fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- total_miles_traveled  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Passenger Miles Traveled | 1 Year Growth</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_miles_traveled | print_dashboard_cards_data | safe}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-shuttle-van fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Average Riders Per Van -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Average Riders Per Van | 1 Year Growth</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{average_riders_per_van | print_dashboard_cards_data | safe}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Carbon Dioxide Emissions Avoided (metric tons) | 1 Year Growth</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{co2_emissions_avoided | print_dashboard_cards_data | safe}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-road fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mb-2 text-gray-800" align = "center"> Percent changes represent the difference between the month of {{ report_month| print_long_date_name }} {{ previous_report_year }} and the month of {{ report_month| print_long_date_name }} {{ last_report_year }}</p>

            {% if report_status == "Past due" %}
                <!-- Past Due -->
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-4">
                        <div class="card border-left-warning shadow h-100 ">
                            <div class="card-header text-warning"><b>Vanpool Report Past Due</b></div>
                            <div class="card-body">
                                It looks like your vanpool report is past due.  <a href="{% url 'Vanpool_report' %}">Click here to complete it. </a> If you need to make revisions to a previous month, please start there first.</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if request.user|has_group:"Summary reporter" and user_org != 1 and summary_reporter != False %}
            <div class="card border-left-primary shadow h-100 py-2 pt-3">
                <div class="card-body">
                    <h3>Summary reporting</h3>
                    {% if summary_organization_progress.started == False %}
                        <div class="alert alert-info" role="alert">
                            Welcome to this years summary report!  Let's get started:
                            <br>
                            <a href="{% url 'summary_instructions' %}" role="button" class="mt-2 btn btn-primary">Start your report</a>
                        </div>
                    {% endif %}
                    {% if summary_report_status.cover_sheet_submitted_for_review and summary_report_status.cover_sheet_status == "With user" %}
                        <div class="alert alert-warning" role="alert">
                            WSDOT has completed its review of your cover sheet and has a few questions:
                            <br>
                            <a href="{% url 'customer_review_cover_sheets' %}" role="button" class="mt-2 btn btn-warning">Cover sheet review</a>
                        </div>
                    {% endif %}
                    {% if summary_report_status.cover_sheet_submitted_for_review and summary_report_status.cover_sheet_status == "With WSDOT" %}
                        <div class="alert alert-info" role="alert">
                            Your cover sheet is with WSDOT for its review.
                        </div>
                    {% endif %}
                    {% if summary_report_status.cover_sheet_submitted_for_review and summary_report_status.cover_sheet_status == "Complete" %}
                        <div class="alert alert-success" role="alert">
                            Your cover sheet is completed!
                        </div>
                    {% endif %}
                    {% if summary_report_status.data_report_submitted_for_review and summary_report_status.data_report_status == "Complete" %}
                        <div class="alert alert-success" role="alert">
                            Your data report is completed!
                        </div>
                    {% endif %}
                    {% if summary_report_status.data_report_submitted_for_review and summary_report_status.data_report_status == "With WSDOT" %}
                        <div class="alert alert-info" role="alert">
                            Your data report is with WSDOT for its review.
                        </div>
                    {% endif %}
                    {% if summary_report_status.data_report_submitted_for_review and summary_report_status.data_report_status == "With user" %}
                        <div class="alert alert-warning" role="alert">
                            WSDOT has completed its review of your data and has a few questions:
                            <br>
                            <a href="#" role="button" class="mt-2 btn btn-warning">Data report review</a>
                        </div>
                    {% endif %}
                    {% if summary_organization_progress.started %}
                        {%if not summary_report_status.data_report_submitted_for_review or not summary_report_status.cover_sheet_submitted_for_review %}
                            <div class="alert alert-info" role="alert">
                                It looks like you still have some work to do on your summary report.
                                <br>
                                <a href="{% url 'pick_up_where_you_left_off' %}" role="button" class="mt-2 btn btn-info">Pick up where you left off</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

            </div>

        {% endif %}
    </div>
{% endblock %}