<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found </title>
</head>
<body>
<p>Looks like you've tried to find a page that doesn't exist or hasnt been built yet</p>
<a href = {% url 'dashboard' %}> Head back to the dashboard </a>

<div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="max-width: 22rem; min-width: 22rem" src="{% static 'img/undraw_404.svg' %}" alt="404 error drawing">
                        </div>

</body>
</html>