{% extends 'index.html' %}

{% block content %}
    <div class="container-fluid">

        <div class="card">
            <div class="card-header h3">Help</div>
            <div class="card-body">
                <p>We are sorry you ran into difficulties.  Please let us know how we can help.</p>

                <p>The best way to get assistance is to contact Nathan Schumer via email: <a href="mailto:SchumeN@wsdot.wa.gov">SchumeN@wsdot.wa.gov</a></p>

            </div>
        </div>

    </div>
{% endblock %}