{% extends 'index.html' %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Public Disclosure</h1>

        <p>
            This site follows all policies and procedures applicable to public disclosure in Washington state.
        </p>
        <p>
            Routine requests for data that can not be provided via the reports page can be submitted to the Public Transportation
            Division Data Team.
        </p>
        <p>
            Other requests for information can be submitted to WSDOT using the procedure found on
            <a href="https://www.wsdot.wa.gov/Contact/PublicDisclosure/default.htm">WSDOT's Public Disclosure Records Request website</a>
        </p>

    </div>
{% endblock %}