{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}

{% block head_content %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'Vanpool_expansion_analysis' %}">Vanpool Expansion Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Vanpool_expansion_modify' %}">Modify a Vanpool</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Vanpool_expansion_submission' %}">Submit a Vanpool</a>
                        </li>
                    </ul>
                </div>
{#                <h1 class="h3 mb-2 text-gray-800" align = "center"> {{ current_biennium.calculate_current_biennium }}Vanpool Expansion Report </h1>#}
                <div class="card-body">

                    <div class="dataTable_wrapper">
                        <table id="vanpool_expansion_analysis_tbl" class='table tdt-bootstrap4 dataTable dataTable_wrapper'>
                            <thead class="table-secondary" style="font-size: 0.8rem">
                            <tr>
                                <th align='center'>Agency Name</th>
                                <th scope="col"> Latest Vanpools</th>
                                <th scope="col">Latest Report Date</th>
                                <th scope="col">Original Vanpools</th>
                                <th scope="col" >Date of Award</th>
                                <th scope="col">Expansion Vans</th>
                                <th scope="col">Latest Vehicle Acceptance Date</th>
                                <th scope="col">Vanpool Goal</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Service Expansion Goal Met</th>
                                <th scope="col">Service Expansion Goal Met Date</th>
                                <th scope="col">Max Number of Vanpools</th>
                                <th scope="col">Max Vanpools Date</th>
                                <th scope="col">Months Remaining</th>
                                <th scope="col">Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for organizationNames, latestVanpool, maxVanpool, remainingMonths, expansionGoalList, vea in zipped_data %}
                                <tr>
                                    <td class="d-none d-md-table-cell  align=center"> {{ organizationNames}}</td>
                                    <td class="d-none d-md-table-cell" align="center" > {{ latestVanpool.vanpool_groups_in_operation}}</td>
                                    <td class="d-none d-md-table-cell" >  {{ latestVanpool.report_month }}/1/{{ latestVanpool.report_year }}</td>
                                    <td class="d-none d-md-table-cell" align="center"> {{ vea.vanpools_in_service_at_time_of_award}}
                                    <td class="d-none d-md-table-cell" > {{ vea.date_of_award|date:'m/d/y'}} </td>
                                    <td class="d-none d-md-table-cell" align="center" > {{ vea.expansion_vans_awarded }} </td>
                                    <td class="d-none d-md-table-cell" > {{ vea.latest_vehicle_acceptance|date:'m/d/y'}} </td>
                                    <td class="d-none d-md-table-cell" align="center"> {{ vea.expansion_goal}} </td>
                                    <td class="d-none d-md-table-cell" > {{ vea.deadline|date:'m/d/y'}} </td>
                                    <td class = "d-none d-md-table-cell" align="center"> <b class="text-success"> {{ vea.vanpool_goal_met }}</b> </td>
                                    {%  if eg != ''%}
                                        <td class = "d-none d-md-table-cell" > {{ expansionGoalList.report_month }}/1/{{ expansionGoalList.report_year }}</td>
                                    {%  else %}
                                        <td class = "d-none d-md-table-cell" > </td>
                                    {%  endif %}
                                    <td class = "d-none d-md-table-cell"  align="center"> {{ maxVanpool.vanpool_groups_in_operation }}  </td>
                                    <td class = "d-none d-md-table-cell" > {{ maxVanpool.report_month }}/1/{{ maxVanpool.report_year }}</td>
                                    {%  if remainingMonths < 0 %}
                                        <td class = "d-none d-md-table-cell" align="center"> Deadline Expired </td>
                                    {%  else %}
                                        <td class = "d-none d-md-table-cell" align="center" > {{ remainingMonths }} Months </td>
                                    {%  endif %}

                                    <td class = "d-none d-md-table-cell" align="center" >{{vea.notes}} </td>

                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>





{%  endblock %}

{% block page_scripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js "> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"> </script>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#vanpool_expansion_analysis_tbl').DataTable({
                "scrollX": true,
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "bLengthChange": false,
                "bSort": true,
                "dom": '<"top"fl>rt<"bottom"ip><"clear">'
            });
            $('.dataTables_filter').addClass('form-inline');
            $('.dataTables_filter').css({"float":"left", "margin-bottom":"2px", "margin-left":"2px"})
        });



    </script>


{% endblock %}