{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}

{% block content %}
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" align = "center">Vanpool Report - Expansion</h1>
        </div>

   <div class="container-fluid">
        <div class="row">

                    <div class="card-body">
                        <table>
                          <thead class="table-secondary" >
                                <tr>
                                    <th scope="col" align="center">Agency Name</th>
                                    <th scope="col">Vanpools in Service</th>
                                    <th  scope="col">Most Recent Data</th>
                                    <th  scope="col">Vanpools in Service At Time of Award</th>
                                    <th scope="col" >Date of Award</th>
                                    <th scope="col">Expansion Vans Awarded</th>
                                    <th scope="col">Latest Vehicle Acceptance Date</th>
                                    <th scope="col" >Spare Vanpool Allowance</th>
                                    <th  scope="col">Vanpool in Service Goals</th>
                                    <th scope="col">Extension Granted</th>
                                    <th scope = "col"> Latest Date Needed to Reach Goal</th>
                                    <th scope="col">Service Expansion Goal Met</th>
                                    <th scope="col">Service Expansion Goal Met Date</th>
                                    <th scope="col">Largest Number of Vanpools in Service</th>
                                    <th scope="col">Largest Number of Vanpools in Service Date</th>
                                    <th scope="col">Months Remaining to Meet Goal</th>
                                    <th scope="col">Current Biennium</th>
                                </tr>
                                </thead>
                            <tbody>
                            {%  for orgname, latest_van, max_van,van_expand, acceptance, eg in zipped_data %}
                                <tr>
                                <td class="d-none d-md-table-cell"> {{ orgname.name}}</td>
                                <td class="d-none d-md-table-cell" > {{ latest_van.vanpool_groups_in_operation}}</td>
                                <td class="d-none d-md-table-cell" >  {{ latest_van.report_year }}-{{ latest_van.report_month }}-{{ latest_van.report_date }}</td>
                                <td class="d-none d-md-table-cell" > {{ van_expand.vanpools_in_service_at_time_of_award}}
                                <td class="d-none d-md-table-cell" > {{ van_expand.date_of_award|date:'Y-m-d'}} </td>
                                <td class="d-none d-md-table-cell" > {{ van_expand.expansion_vans_awarded }} </td>
                                <td class="d-none d-md-table-cell" > {{ van_expand.latest_vehicle_acceptance|date:'Y-m-d'}} </td>
                                <td class="d-none d-md-table-cell" > {{ van_expand.spare_allowance}} </td>
                                <td class="d-none d-md-table-cell" > {{ van_expand.adjusted_service_goal}} </td>
                                <td class = "d-none d-md-table-cell" > {{ van_expand.extension_granted }}</td>
                                <td class="d-none d-md-table-cell" > {{ acceptance.latest_date|date:'Y-m-d'}} </td>
                                    {%  if eg != '' %}
                                            <td class = "d-none d-md-table-cell" > YES </td>
                                    {%  else %}
                                    <td class = "d-none d-md-table-cell" > TBD </td>
                                    {%  endif %}
                                {%  if eg != ''%}
                                   <td class = "d-none d-md-table-cell" > {{ eg.report_year }}-{{ eg.report_month }}-{{ eg.report_date }}</td>
                                {%  else %}
                                    <td class = "d-none d-md-table-cell" > </td>
                                    {%  endif %}
                                <td class = "d-none d-md-table-cell" > {{ max_van.vanpool_groups_in_operation }}  </td>
                                <td class = "d-none d-md-table-cell" > {{ max_van.report_year }}-{{ max_van.report_month }}-{{ max_van.report_date}}  </td>
                                {%  if acceptance.remaining_months < 0 %}
                                    <td class = "d-none d-md-table-cell" > Deadline Expired </td>
                                {%  else %}
                                <td class = "d-none d-md-table-cell" > {{ acceptance.remaining_months }} Months </td>
                                {%  endif %}
                                <td class = "d-none d-md-table-cell" > {{ van_expand.calculate_current_biennium }} </td>


                                </tr>
                            {%  endfor %}
                            </tbody>
                            </table>
                    </div>
            </div>
        </div>
   </div>

{%  endblock %}