{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}


{% block content %}
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800" align = "center">Vanpool Report - Expansion</h1>
        </div>

   <div class="container-fluid">
        <div class="row">

                    <div class="card-body">
                        <table>
                          <thead class="table-secondary" >
                                <tr>
                                    <th scope="col" align="center">Agency Name</th>
                                    <th scope="col">Vanpools in Service</th>
                                    <th  scope="col">Most Recent Data</th>
                                    <th  scope="col">Vanpools in Service At Time of Award</th>
                                    <th scope="col" >Date of Award</th>
                                    <th scope="col">Expansion Vans Awarded</th>
                                    <th scope="col">Latest Vehicle Acceptance Date</th>
                                    <th  scope="col">Vanpool in Service Goals</th>
                                    <th scope="col" >Spare Vanpool Allowance</th>
                                    <th scope="col">Extension Granted</th>
                                    <th scope="col">Service Expansion Goal Met</th>
                                    <th scope="col">Service Expansion Goal Met Date</th>
                                    <th scope="col">Largest Number of Vanpools in Service</th>
                                    <th scope="col">Largest Number of Vanpools in Service Date</th>
                                    <th scope="col">Months Remaining to Meet Goal</th>
                                    <th scope="col">Current Biennium</th>
                                </tr>
                                </thead>
                            <tbody>

                            </tbody>
                            </table>
                    </div>
            </div>
        </div>
   </div>

{%  endblock %}