{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}

{%  endblock %}
<!-- Page Heading -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exports_home' %}">Export Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'run_statewide_report_tables' %}">Statewide Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exports_cover_sheets_for_report' %}">Cover sheets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'export_data_tables' %}">Data tables</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form id="org_select" action="{% url 'export_data_tables' %}" method="post">
                        {{ form }}
                        {% csrf_token %}
                        <div class="">
                            <button id="check_all" type="button" class="btn btn-outline-secondary btn-sm float-left mb-2 ml-3" style="width: 10vw;">Select all</button>
                            <button id="check_all" type="submit" form="org_select" class="btn btn-primary btn-sm float-left mb-2 ml-3" style="width: 10vw;">Generate data tables</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block page_scripts %}

    {# This code controls the check select all select none box #}
    <script type="text/javascript">
        all_checked = true

        function change_btn_text(all_checked){
            if(all_checked){
                $("#check_all").text('Select None');
            } else {
                $("#check_all").text('Select All');
            }
        }

        $(document).ready(function(){
            all_checked = ($('form input:checkbox:checked').length == $('form input:checkbox').length)
            change_btn_text(all_checked)
        })

        $("#check_all").on("click", function() {
            $('form input:checkbox').prop("checked", !all_checked);
            all_checked = !all_checked
            change_btn_text(all_checked)
        });
    </script>

{% endblock %}