{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}

{%  endblock %}
<!-- Page Heading -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exports_home' %}">Export Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'run_statewide_report_tables' %}">Statewide Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exports_cover_sheets_for_report' %}">Cover sheets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'export_data_tables' %}">Data tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'review_summary_tables' %}">Summary tables</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" style="">
                    <h3>Report Summary Tables</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Table heading</th>
                            <th>Report summary table type</th>
                            <th>Number of years to pull</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in report_summary_table_data %}
                            <tr>
                            <td>{{ i.table_heading }}</td>
                            <td>{{ i.report_summary_table_type }}</td>
                            <td>{{ i.number_of_years_to_pull }}</td>
                            <td><a href="{% url 'edit_summary_tables' i.id %}">Edit</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <a href="{% url 'create_new_summary_tables' %}" class="btn btn-primary">Create new summary table</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}