<!DOCTYPE html>
<html>
<body>
<br>
Hello {{ firstname }} {{ lastname }}, <br />

This email is a reminder that the due date for your most recent vanpool data for {{org}} is {{due_date}}. Please login to the
vanpool portal at your earliest convenience and report your data. <br />
Thank you for your help with vanpool reporting, <br />
-WSDOT | Public Transportation Division | Data Team
<a href="https://vanpooldev.azurewebsites.net/{% url 'dashboard' %}">Public Transportation Portal</a></p>
<br />

</body>
</html>