{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{%  load widget_tweaks %}

{% block head_content %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<div class="container-fluid">

        <!-- Page Heading -->

    </div>


 <div class="card-body" style="font-size: 0.8rem">

                        <p> Select these buttons to download the table as an excel or csv file</p>
                    <div class="dataTable_wrapper">
                        <table id="download_vanpool_data_table" class='table tdt-bootstrap4 dataTable dataTable_wrapper'>
                            <thead class="table-secondary" style="font-size: 0.8rem">
                            <tr>
                               <th>Report Year</th>
                                <th>Report Month</th>
                                <th>Vanpool Groups in Operation</th>
                                <th>Vanpool Group Starts</th>
                                <th>Vanpool Group Folds</th>
                                <th>Vans Available</th>
                                <th> Spare Loaner Vans in Fleet</th>
                                <th> Vanpool Passenger Trips</th>
                                <th> Vanpool Miles Traveled</th>
                                <th> Average Riders per Van</th>
                                <th> Average Round Trip Miles</th>
                                <th> Frequency of Claims</th>
                                <th> Operating Costs</th>
                                {% if vanshare_existence == True %}
                                <th> Vanshare Groups in Operation</th>
                                <th>Vanshare Group Starts</th>
                                <th> Vanshare Group Folds</th>
                                <th> Vanshare Passenger Trips </th>
                                <th> Vanshare Mile Travled</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in vanpool_data.qs %}
                            <tr>
                            <td>{{ row.report_year }}</td>
                            <td> {{ row.report_month }}</td>
                            <td>{{ row.vanpool_groups_in_operation }}</td>
                            <td>{{ row.vanpool_group_starts }}</td>
                            <td> {{ row.vanpool_group_folds }}</td>
                            <td> {{ row.vans_available }}</td>
                            <td>{{ row.loaner_spare_vans_in_fleet }}</td>
                            <td>{{ row.vanpool_passenger_trips }}</td>
                            <td> {{ row.vanpool_miles_traveled }}</td>
                            <td> {{ row.average_riders_per_van }}</td>
                            <td> {{ row.average_round_trip_miles }}</td>
                            <td>{{ row.frequency_of_claims }}</td>
                            <td>{{ row.operating_cost }}</td>
                            {% if vanshare_existence == True %}
                            <td>{{ row.vanshare_groups_in_operation }}</td>
                            <td>{{ row.vanshare_group_starts }}</td>
                            <td> {{ row.vanshare_group_folds }}</td>
                            <td> {{ row.vanshare_passenger_trips }}</td>
                            <td> {{ row.vanshare_miles_traveled }}</td>
                             {% endif %}
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






{% block page_scripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js "> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"> </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"> </script>

    <script type="text/javascript">
        $(document).ready( function () {
            var table = $('#download_vanpool_data_table').DataTable({
                "colReorder": true,
                "scrollX": true,
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "bLengthChange": false,
                 "bInfo": false,
                "bFilter": false,
                "bSort": true,
                "dom": 'B<"top"i>rt<"bottom"flp><"clear">',
                "buttons": ['excel', 'csv']

            });
            $('.dataTables_filter').addClass('form-inline');
            $('.dataTables_filter').css({"float":"left", "margin-bottom":"2px", "margin-left":"2px"})


            $(document).on('click', '#sidebarToggle', function () {
                table.draw();
            });

        });
</script>

{%  endblock %}