{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}

<title> Vanpool in Service Operational Summary</title>

{% block content %}
<div class="container-fluid">
        <div class="row">

                    <div class="card-body">

<table cellpadding="10">


    <thead>
        <th> </th>
        {%  for year in years %}
        <th>{{ year}}</th>
        <th>Percent Change from Last Year</th>
        {%  endfor %}
    </thead>
    <tbody>
            <td> Total Vanpools in Service At Year's End </td>
            {%  for total, per_change in vp_totals %}

            <td>{{ total.vanpool_groups_in_operation__sum}}</td>
                {%  if per_change != 'N/A' %}
             <td>{{ per_change|floatformat:"0" }}%</td>
                {%  else %}
                    <td>{{ per_change }}%</td>
                {% endif %}
            {% endfor %}
            <tr>
            <td> Total Vanshares at Year's End</td>
            {% for total, per_change in vs_totals %}
            <td>{{ total.vanshare_groups_in_operation__sum }}</td>
                {%  if per_change != 'N/A' %}
             <td>{{ per_change|floatformat:"0" }}%</td>
                {%  else %}
                    <td>{{ per_change }}%</td>
                {% endif %}

            {% endfor %}
            </tr>
            <tr>
            <td> Total Vanpool Starts</td>
            {% for total, per_change in starts %}
            <td>{{ total.vanpool_group_starts__sum}}</td>
            <{%  if per_change != 'N/A' %}
             <td>{{ per_change|floatformat:"0" }}%</td>
                {%  else %}
                    <td>{{ per_change }}%</td>
                {% endif %}
             {% endfor %} </tr>
            <tr>
                 <td> Starts As A Percentage Of Vanpools in Service</td>
            {% for total, per_change in starts_as_a_percent %}
            <td>{{ total}}%</td>
            {%  if per_change != 'N/A' %}
             <td>{{ per_change|floatformat:"0" }}%</td>
                {%  else %}
                    <td>{{ per_change }}%</td>
                {% endif %}
            {% endfor %} </tr>
              <tr>  <td> Total Vanpool Folds</td>
            {% for total, per_change in folds %}
            <td>{{ total.vanpool_group_folds__sum}}</td>
            {%  if per_change != 'N/A' %}
             <td>{{ per_change|floatformat:"0" }}%</td>
                {%  else %}
                    <td>{{ per_change }}%</td>
                {% endif %}
             {% endfor %}
              </tr>
            <tr>
            <td> Folds As A Percentage Of Vanpools in Service</td>
            {% for total, per_change in folds_as_percent %}
            <td>{{ total}}%</td>
            <td> {{ per_change }}</td>
            {% endfor %} </tr>
           <tr> <td> Net Vanpool Gain / Loss For The Year</td>
            {% for total, per_change in net_vans %}
            <td>{{ total}}</td>
            <td> {{ per_change }}</td>
            {% endfor %} </tr>
             <tr>  <td> Average Passengers / Van</td>
            {% for total, per_change in average_riders %}
            <td>{{ total.average_riders_per_van__avg|floatformat:2 }}</td>
            <td> {{ per_change }}</td>
            {% endfor %} </tr>
            <tr> <td> Avg Round Trip Miles / Van</td>
            {% for total, per_change in average_miles %}
            <td>{{ total.average_round_trip_miles__avg|floatformat:2 }}</td>
            <td> {{ per_change }}</td>
            {% endfor %} </tr>





    </tbody>


</table>


{% endblock %}

                    </div>
        </div>
</div>