{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}

{% if successful_submit %}
    {% block head_content %}



    {% endblock %}
{% endif %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{ year }} Vanpool Reports - {{ organization.name }}</h1>


    <div class="row">
        <div class="col-5">

            <div class="card shadow mb-4 h-100">
                <div class="card-header">
                    <h6 class="font-weight-bold text-primary">Report Summary</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" style="">
                            <thead class="table-secondary">
                            <tr>
                                <th scope="col">Month</th>
                                <th class="d-none d-md-table-cell" scope="col" align="center">Report Status</th>
                                <th class="d-none d-lg-table-cell" scope="col">Vanpool Miles Traveled</th>
                                <th class="d-none d-lg-table-cell" scope="col">Vanpool Passenger Trips</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for report in past_report_data %}


                                <tr class='clickable-row {% if report.report_month == month %} table-active {% endif %}'
                                    data-href="{%  url 'Vanpool_report' %}{{ year }}/{{ report.report_month }}"
                                >
                                    <td><a href="{%  url 'Vanpool_report' %}{{ year }}/{{ report.report_month }}">{{ report.report_month | print_long_date_name }}</a></td>
                                    <td class="d-none d-md-table-cell" align="center">{{  report.status | get_status_icon | safe}}</td>
                                    <td class="d-none d-lg-table-cell">{{  report.vanpool_miles_traveled | floatformat:"0"| intcomma}}</td>
                                    <td class="d-none d-lg-table-cell">{{  report.vanpool_passenger_trips | floatformat:"0"| intcomma}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                {% if not min_year %}
                                    <a class="nav-link active float-left" href="{% url 'Vanpool_report' %}{{ year | minus_one }}/1"><i class="fas fa-chevron-left"></i> {{ year | minus_one }}</a>
                                {% endif %}

                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                                {% if not max_year %}
                                    <a class="nav-link active float-right" href="{% url 'Vanpool_report' %}{{ year | plus_one }}/1">{{ year | plus_one }}  <i class="fas fa-chevron-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow mb-4 h-100">
                <div class="card-header">
                    <h6 class="font-weight-bold text-primary">{{ month | print_long_date_name }}, {{ year }} | Report Details | {{ organization.name }}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <form action = "{% url 'Vanpool_report' %}{{ year }}/{{ month }}/" method="post" id="post-form" style="opacity: 0" class="form-fade-out">
                            {% csrf_token %}

                            {%  if form.non_field_errors %}
                                {%  if  'You must fill out the data for the previous month first. Please refer to the previous reporting month' in form.non_field_errors %}
                                    <p>You are trying to fill out data for a month while the previous month(s) remain blank. Please fill out the previous month(s) first</p>
                                {% else %}
                                    <b>Validation Issues:</b>
                                    <ul>{% for error in form.non_field_errors %}
                                        <li> {{error}} </li>
                                    {% endfor %}</ul>

                                    <div class = "d-flex w-100 align-content-left align-middle text-danger"> {{form.acknowledge_validation_errors}} Check this box to confirm that your submitted numbers are correct, even though there are validation errors.</div>



                                {% endif %}
                            {%  endif %}
                            {{ form.source.errors }}
                            {{ form.source }}
                            <table style="border-collapse: separate; border-spacing: .25rem">
                                <tr>
                                    <td colspan="3"><b>Vanpool Information</b></td>
                                </tr>
                                <tr class="fieldWrapper">
                                    <td>{{ form.vanpool_groups_in_operation.errors }}</td>
                                    <td>{{ form.vanpool_groups_in_operation.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Vanpool groups in operation:"
                                               data-content="Number of active groups in operation at the end of the reporting month."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Int">{{ form.vanpool_groups_in_operation }}</td>
                                </tr>
                                <tr class="fieldWrapper">
                                    <td>{{ form.vanpool_group_starts.errors }}</td>
                                    <td>{{ form.vanpool_group_starts.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Vanpool group starts:"
                                               data-content="Number of groups that started during the reporting month."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Int">{{ form.vanpool_group_starts }} </td>
                                </tr>
                                <tr class="fieldWrapper">
                                    <td>{{ form.vanpool_group_folds.errors }}</td>
                                    <td>{{ form.vanpool_group_folds.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Vanpool group folds:"
                                               data-content="Number of groups that folded during the reporting month."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Int">{{ form.vanpool_group_folds }}</td>
                                </tr>
                                <tr class="fieldWrapper">
                                    <td>{{ form.vanpool_miles_traveled.errors }}</td>
                                    <td>{{ form.vanpool_miles_traveled.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Vanpool miles traveled:"
                                               data-content="Revenue miles traveled by operating groups (this figure is the total number of miles traveled minus shared use, shuttle, maintenance, familiarization, other [e.g. miles to pick up/drop off vans, shop miles], bonus, and personal use miles)."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Int">{{ form.vanpool_miles_traveled }}</td>
                                </tr>
                                <tr class="fieldWrapper">
                                    <td>{{ form.vanpool_passenger_trips.errors }}</td>
                                    <td>{{ form.vanpool_passenger_trips.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Vanpool passenger trips:"
                                               data-content="Revenue-based (number of groups in operation times average number of riders per van [including driver] of operating groups times average number of operating days times 2 [trips per day])."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Int">{{ form.vanpool_passenger_trips }}</td>
                                </tr>
                                {% if organization.vanshare_program %}
                                    <tr>
                                        <td colspan="3"><b>Vanshare Information</b></td>
                                    </tr>
                                    <tr class="fieldWrapper">
                                        <td>{{ form.vanshare_groups_in_operation.errors }}</td>
                                        <td>{{ form.vanshare_groups_in_operation.label_tag }}
                                            <sup>
                                                <i class="fas fa-question-circle help-popover"
                                                   data-toggle="popover" title="Vanshare groups in operation:"
                                                   data-content="Number of active vanshare groups in operation at the end of the reporting month."></i>
                                            </sup>
                                        </td>
                                        <td class="AutoNumeric-Int">{{ form.vanshare_groups_in_operation }}</td>
                                    </tr>
                                    <tr class="fieldWrapper">
                                        <td>{{ form.vanshare_group_starts.errors }}</td>
                                        <td>{{ form.vanshare_group_starts.label_tag }}
                                            <sup>
                                                <i class="fas fa-question-circle help-popover"
                                                   data-toggle="popover" title="Vanshare groups in operation:"
                                                   data-content="Number of vanshare groups that started during the reporting month."></i>
                                            </sup>
                                        </td>
                                        <td class="AutoNumeric-Int">{{ form.vanshare_group_starts }}</td>
                                    </tr>
                                    <tr class="fieldWrapper">
                                        <td>{{ form.vanshare_group_folds.errors }}</td>
                                        <td>{{ form.vanshare_group_folds.label_tag }}
                                            <sup>
                                                <i class="fas fa-question-circle help-popover"
                                                   data-toggle="popover" title="Vanshare group folds:"
                                                   data-content="Number of vanshare groups that folded during the reporting month."></i>
                                            </sup>
                                        </td>
                                        <td class="AutoNumeric-Int">{{ form.vanshare_group_folds }}</td>
                                    </tr>
                                    <tr class="fieldWrapper">
                                        <td>{{ form.vanshare_miles_traveled.errors }}</td>
                                        <td>{{ form.vanshare_miles_traveled.label_tag }}
                                            <sup>
                                                <i class="fas fa-question-circle help-popover"
                                                   data-toggle="popover" title="Vanshare miles traveled:"
                                                   data-content="Revenue miles traveled by operating groups (this figure is the total number of miles traveled minus shared use, shuttle, maintenance, familiarization, other [e.g. miles to pick up/drop off vans, shop miles], bonus, and personal use miles)."></i>
                                            </sup>
                                        </td>
                                        <td class="AutoNumeric-Int">{{ form.vanshare_miles_traveled }}</td>
                                    </tr>
                                    <tr class="fieldWrapper">
                                        <td>{{ form.vanshare_passenger_trips.errors }}</td>
                                        <td>{{ form.vanshare_passenger_trips.label_tag }}
                                            <sup>
                                                <i class="fas fa-question-circle help-popover"
                                                   data-toggle="popover" title="Vanshare passenger trips:"
                                                   data-content="Revenue-based (number of groups in operation times average number of riders per van [including driver] of operating groups times average number of operating days times 2 [trips per day])."></i>
                                            </sup>
                                        </td>
                                        <td class="AutoNumeric-Int">{{ form.vanshare_passenger_trips }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><b>Program Wide Information</b></td>
                                    </tr>
                                {% endif %}
                                <tr class="fieldWrapper">
                                    <td>{{ form.average_riders_per_van.errors }}</td>
                                    <td>{{ form.average_riders_per_van.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Average riders per van:"
                                               data-content="Average number of riders (including driver) of active operating groups."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Decimal">{{ form.average_riders_per_van }}</td>
                                </tr>
                                <tr class="fieldWrapper">
                                    <td>{{ form.average_round_trip_miles.errors }}</td>
                                    <td>{{ form.average_round_trip_miles.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Average round trip miles:"
                                               data-content="Average round trip mileage figure of all operating groups."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Decimal">{{ form.average_round_trip_miles }}</td>
                                </tr>
                              <tr class="fieldWrapper">
                                    <td>{{ form.frequency_of_claims.errors }}</td>
                                    <td>{{ form.frequency_of_claims.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Frequency of claims:"
                                               data-content="Insurance claims this month."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Int">{{ form.frequency_of_claims }}</td>
                                </tr>
                                <tr class="fieldWrapper">
                                    <td>{{ form.operating_cost.errors }}</td>
                                    <td>{{ form.operating_cost.label_tag }}
                                        <sup>
                                            <i class="fas fa-question-circle help-popover"
                                               data-toggle="popover" title="Operating Costs:"
                                               data-content="Operating Costs (including direct and allocated costs)."></i>
                                        </sup>
                                    </td>
                                    <td class="AutoNumeric-Int">{{ form.operating_cost }}</td>
                                </tr>

                            </table>
                            {% if new_report %}

                                <input type="submit" value="Submit Report" class="btn btn-primary float-left" style="position: absolute; bottom: 20px; right: 20px">

                            {% else %}
                                <p>If you would like to update you report, please provide a brief explanation of your update:</p>
                                {{ form.changeReason }}
                                <input id="update_report" type="submit" value="Update Report" class="btn btn-secondary float-left" style="position: absolute; bottom: 1rem; right: 1.25rem">
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% if successful_submit %}
        <!-- Modal -->
        <div class="modal fade" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="submit_success" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="success_modal_label">Success!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Your data has been submitted successfully.  You may review it and edit it at any time.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#success_modal").modal();
                $(".form-fade-out").fadeTo("fast", 1)
            });
        </script>

    {% else %}
        <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".form-fade-out").fadeTo("fast", 1)
            });
        </script>

    {% endif %}

{% endblock %}

{% block page_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script src="{% static 'js/AutoNumeric_Settings.js' %}"></script>
    <script>
        $(function () {
            $('.help-popover').popover({
                container: 'body',
                animation: false,
                trigger: 'hover'
            })
        })

    </script>

{% endblock %}