{% extends 'index.html' %}
{% load custom_tags %}

{% load static  %}

{% block head_content %}
    {#  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">#}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link {% if model == 'organization' %} active {% endif %}" href="{% url 'summary_configure_agency_types' 'organization' %}">Organization</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if model == 'revenue_source' %} active {% endif %}" href="{% url 'summary_configure_agency_types' 'revenue_source' %}">Revenue source</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if model == 'transit_metrics' %} active {% endif %}" href="{% url 'summary_configure_agency_types' 'transit_metrics' %}">Transit metrics</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h3>Summary reporting admin</h3>
                    <div id="summary_configure_agency_types-err"></div>
                    <form id="summary_configure_agency_types" action="{% url 'summary_configure_agency_types'%}{{ model }}" method="post" data-err-field="my-errField">
                        {% csrf_token %}
                        {{ formset.management_form }}

                        <div class=""></div>
                        <div class="dataTable_wrapper">
                            <table id="multi_select_datatable" class="table tdt-bootstrap4 dataTable dataTable_wrapper" >
                                <thead class="table-secondary">
                                <tr>
                                    <th style="display: none; visibility: hidden;" aria-hidden="true">id</th>
                                    <th style="max-width: 20%">Name</th>
                                    {% if model == 'revenue_source' %}
                                        <th>Government type</th>
                                        <th>Funding type</th>
                                    {% endif %}
                                    <th>Summary organization type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for form in formset %}
                                    <tr>
                                        <td style="display: none; visibility: hidden;" aria-hidden="true">{{ form.id }}</td>
                                        <td>{{ form.name }}</td>
                                        {% if model == 'revenue_source' %}
                                            <td>{{ form.government_type }}</td>
                                            <td>{{ form.funding_type }}</td>
                                        {% endif %}
                                        {%  if form.summary_organization_classifications %}
                                            <td>{{ form.summary_organization_classifications }}</td>
                                        {% else %}
                                            <td class="no-bullet"><fieldset>{{ form.agency_classification }}</fieldset> </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript">
        $(document).ready( function () {
            var table = $('#multi_select_datatable').DataTable({
                "scrollX": true,
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "bLengthChange": false,
                "dom": '<"top"fl>rt<"bottom"ip><"clear">'
            });
            $('.dataTables_filter').addClass('form-inline');
            $('.dataTables_filter').css({"float":"left", "margin-bottom":"2px", "margin-left":"2px"});

            $(document).on('click', '#sidebarToggle', function () {
                table.draw();
            });

        });

    </script>
{% endblock %}