{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}
    <link href="{% static 'css/slidder.css'%}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                {% comment %}    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_instructions' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'organizational_information' %}">Address & organization type</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cover_sheets_organization' %}">Your organization</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cover_sheets_service' %}">Your service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'ntd_upload' %}">NTD data upload</a>
                        </li>
                    </ul>{% endcomment %}

                <div class="card-body" style="min-height: 25rem">
                    <div class="text-center">
                    <h3 style="padding-top: 7rem; padding-bottom: 3rem">Upload NTD File</h3>

                    <div class="container-fluid w-100 h-100">

                        <div class="text-center"


                        <form id = 'submit_ntd' action="{% url "ntd_upload" %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                            {{ form.as_p }}
                            <div id="errormessage"></div>

            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid; padding: 5px;"
                   required="required">
            <p>
            <input type="submit"
                   value="Submit NTD Data"
                    class="btn btn-primary float-right mt-3";>
        </form>
                    </div>

                            </div>


                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    NTD data upload results
                </div>
                <div class="card-body">
                    <h3> Transit Data Uploaded</h3>
                    <table class = "table table-bordered">
                        <tr>
                            <th>Report Year</th>
                            <th> Transit Mode </th>
                            <th> Administration of Mode</th>
                            <th> Organization</th>
                            <th>Transit Metric</th>
                            <th> Reported Value</th>
                            <th>User </th>
                            <th> Comments</th>
                        </tr>
                        {% for data in transit_data %}


                            <tr>
                                {%  for d in data %}
                        <td>{{d}}</td>
                                    {% endfor %}
                            </tr>

                        {%  endfor %}
                    </table>

                <h3> Revenue Data Uploaded</h3>
                <table class = "table table-bordered">
                    <thead>
                    <tr><th>Report Year</th>
                    <th>Reported Value</th>
                    <th>Comments</th>
                    <th>Organization</th>
                    <th>User Id</th>
                    <th>Revenue Source Id</th></tr>
                    </thead>
                    <tbody>
                    {%  for d in revenue_data %}
                        <tr>
                        {%  for data in d %}
                    <td>{{ data }}</td>
                            {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                </div>
            </div>

        </div>
    </div>





{%  endblock %}

{% block page_scripts %}


{% endblock %}