{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}


{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_instructions' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'organizational_information' %}">Confirm basic information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cover_sheets_organization' %}">Update cover sheet - organization</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cover_sheets_service' %}">Update cover sheet - service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ntd_upload' %}">NTD data upload</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" style="">
                    <h4>Please confirm the following details about your organization:</h4>
                    <form action="/summary/organizational_information/" method="post">
                        {% csrf_token  %}
                        {{ form }}
                    </form>
                </div>
            </div>
        </div>
    </div>


{%  endblock %}

{% block page_scripts %}


{% endblock %}