{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}


{% endblock %}

{%  block content %}
    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_report_data' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_modes' %}">Confirm and update agency's transit modes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report_transit_data' %}">Report transit data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'report_revenues' %}">Report revenues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report_expenses' %}">Report expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'review_data' %}">Review submitted data</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>



<form method="post">
<table>
<th> Revenue Types</th>
<tr><td>Operating Related Revenues</td></tr>
{%  for label in labels %}

    {%  if label.government_type == 'Local' and label.spending_type == 'Operating' %}
    <tr><td>{{ label.specific_revenue_source__specific_revenue_source}}</td></tr>
    {%  endif %}
    {%  if label.government_type == 'Federal' and label.spending_type == 'Operating' %}
    <tr><td>{{ label.specific_revenue_source__specific_revenue_source}}</td></tr>
    {%  endif %}
    {%  if label.government_type == 'State' and label.spending_type == 'Operating' %}
    <tr><td>{{ label.specific_revenue_source__specific_revenue_source}}</td></tr>
    {%  endif %}
    {%  if label.government_type == 'Other' and label.spending_type == 'Operating' %}
    <tr><td>{{ label.specific_revenue_source__specific_revenue_source}}</td></tr>
    {%  endif %}
    {%  if label.government_type == 'Federal' and label.spending_type == 'Capital' %}
        <tr><td>Federal Capital Grant Revenues</td></tr>
    <tr><td>{{ label.specific_revenue_source__specific_revenue_source}}</td></tr>
    {%  endif %}
    {%  if label.government_type == 'State' and label.spending_type == 'Capital' %}
        <tr><td>State Capital Grant Revenues</td></tr>
    <tr><td>{{ label.specific_revenue_source__specific_revenue_source}}</td></tr>
    {%  endif %}
    {%  if label.government_type == 'Local' and label.spending_type == 'Capital' %}
        <tr><td>Local Capital Expenditures</td></tr>
    <tr><td>{{ label.specific_revenue_source__specific_revenue_source}}</td></tr>
    {%  endif %}

{% endfor %}
</table>
    {{ formset.management_form }}
            {% for form, report_year in zipped %}
                <div class="col-md-6">
                {{ report_year.year }}
                {%  for yearform in form %}

                    <td>  {{ yearform.specific_revenue_source}}</td>
                    <td>{{ yearform.specific_revenue_value }} </td>


            {% endfor %}
                </div>
    {%  endfor %}


</form>

{% endblock %}