{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}
    <link href="{% static 'css/slidder.css'%}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_report_data' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_modes' %}">Confirm services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if template_data.report_type == 'transit_data' %}active{% endif %}" href="{% url 'summary_reporting_type' 'transit_data' %}">Transit data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if template_data.report_type == 'revenue' %}active{% endif %}" href="{% url 'summary_reporting_type' 'revenue' %}">Revenue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if template_data.report_type == 'expense' %}active{% endif %}" href="{% url 'summary_reporting_type' 'expense' %}">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if template_data.report_type == 'fund_balance' %}active{% endif %}" href="{% url 'summary_reporting_type' 'fund_balance' %}">Ending balances</a>
                        </li>
                        {% if ready_to_submit %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'submit_data' %}">Submit data</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'review_data' %}">Review</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body" style="min-height: 25rem">
                    <div class="text-center mt-5">
                        <p class="pb-2 h2"><b>You have completed your data submitals!</b></p>
                        <p class="h4">
                            You may go back and review what you have entered using the tabs above.</p>
                        <p class="pb-5 h4">
                            When you are ready please submit your data for review.
                        </p>

                        <a href="{% url 'submit_data_submit' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Submit your data</a>
                    </div>
                </div>

            </div>
        </div>
    </div>





{%  endblock %}

{% block page_scripts %}


{% endblock %}