{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}


{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'summary_report_data' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_modes' %}">Confirm services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'transit_data' %}">Transit data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'revenue' %}">Revenue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'expense' %}">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'fund_balance' %}">Ending balances</a>
                        </li>
                        {% if ready_to_submit %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'submit_data' %}">Submit data</a>
                            </li>
                        {% endif %}
                        {#                        <li class="nav-item">#}
                        {#                            <a class="nav-link" href="{% url 'review_data' %}">Review</a>#}
                        {#                        </li>#}
                    </ul>
                </div>
                <div class="card-body" style="">
                    <h1>Summary of Public Transportation reporting</h1>
                    <div class="alert alert-info" role="alert"><b>Please take a moment to read the instructions.</b></div>
                    <b>Now that you have submitted your coversheet, it's time to report your data:</b>
                    <ul>
                        <li>After you press the ‘let’s get started’ button below, you will be taken to the first page to confirm or update information about the types of services you operate.</li>
                        <li>Once you are satisfied with the content press the 'confirm service' button to go to the next screen.</li>
                        <li>Here you will begin to enter you data.</li>
                        <li>The service you are entering data for will be in the heading in black text.</li>
                        <li>You may get some validation errors when you enter data. If this happens, please provide a comment to explain your data in more detail.</li>
                        <li>After completing each page, press the next button to go to the next service or the next section of reporting</li>
                        <li>You will repeat this process until you've completed your report.</li>
                        <li>You may go back to previous sections by navigating through the tabs, and clicking on the links for each service, revenue, or expense type.</li>
                        <li>Once you've finished, be sure to submit your data.</li>
                    </ul>
                    <p><b>Download data</b> - Some organizations find it easier to review and gather all data in an excel file and then enter it into the application. You may download you data
                    by clicking the download data button below. The file is organized in the same order as the reporting forms.  It may take a few moments to download. </p>
                    <p><b>We are here to help!</b>  If at any point you get stuck or have difficulties please reach out to us and ask for <a href="{% url 'Help' %}"> help </a>.</p>
                    <div class="text-center">
                        <a class="btn btn-outline-secondary btn-lg" href="{% url 'download_excel_report' %}">Download data</a>
                        <a class="btn btn-primary btn-lg" href="{% url 'summary_modes' %}">Let's get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{%  endblock %}

{% block page_scripts %}


{% endblock %}