{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}


{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'summary_instructions' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'organizational_information' %}">Address & organization type</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cover_sheets_organization' %}">Your organization</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cover_sheets_service' %}">Your service</a>
                        </li>
                        {% if ready_to_submit %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'submit_cover_sheet' %}">Submit cover sheet</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-body" style="">
                    <h1>Summary of public transportation reporting</h1>
                    <div class="alert alert-info" role="alert"><b>Please take a moment to read the instructions.</b></div>
                    <ul>
                        <li>The first step of the reporting process is to review and update your organization’s coversheet information,
                            which provides some basic information about your organization and service area.</li>
                        <li>After you press the ‘let’s get started’ button below, you will be taken to the first page with your
                            organization’s information as it appeared in last year’s summary.</li>
                        <li>If you need to make any edits, please do so.</li>
                        <li>Once you are satisfied with the content press the 'update or confirm' button, to be taken to the next screen.</li>
                        <li>When you have completed every section you will be asked if you would like to submit your coversheet for review.</li>
                        <li>You may review what your information prior to submitting it, using the tabs above.</li>
                        <li>It is recommended that you complete each page in order.</li>
                    </ul>
                    <p><b>We are here to help!</b>  If at any point you get stuck or have difficulties please reach out to us and ask for help.</p>
                    <p>Up to date contact information is available on the <a href="{% url 'Help' %}">help page.</a></p>

                    <div class="text-center">
                        <a class="btn btn-primary btn-lg" href="{% url 'organizational_information' %}">Let's get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{%  endblock %}

{% block page_scripts %}


{% endblock %}