{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}

{%  endblock %}
<!-- Page Heading -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_report_data' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'summary_modes' %}">Confirm services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'transit_data' %}">Transit data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'revenue' %}">Revenue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'expense' %}">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'fund_balance' %}">Ending balances</a>
                        </li>
                        {% if ready_to_submit %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'submit_data' %}">Submit data</a>
                            </li>
                        {% endif %}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{% url 'review_data' %}">Review</a>#}
{#                        </li>#}
                    </ul>
                </div>
                <div class="card-body" style="">
                    <h3>Confirm current services</h3>
                    <div style="padding-left: 1rem">
                        <p> Please confirm that these are the modes that your transit operates.  If you have add any new service or a modes is missing please add it below.
                            To remove a mode press the delete button.
                        </p>
                        {% if error_no_modes %}
                            <div class="alert alert-danger">
                                You must have at least one mode before entering data.  Please add a mode.
                            </div>
                        {% endif %}

                        <div class = 'table-responsive'>
                            <table class = "table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width:25%">Mode</th>
                                    <th>Administration of mode</th>
                                    <th style="width:10%; text-align: center">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for mode in modes %}
                                    <tr class="fieldWrapper">
                                        <td>{{ mode.transit_mode }}</td>
                                        <td>{{ mode.administration_of_mode}}</td>
                                        <td style="text-align: center;">
                                            <a href="#" class="delete-mode" data-mode="{{ mode.transit_mode }}" data-admin-mode="{{ mode.administration_of_mode }}">
                                                <i class="fa fa-times-circle text-danger"> </i>
                                            </a>
                                        </td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3>Add new service</h3>
                    <div style="padding-left: 1rem">
                        <p> Please add any new modes that you are operating here</p>
                        {% if messages %}
                            {% for message in messages %}
                                <h4 class="{{ message.tags }}">{{ message }}</h4>
                            {% endfor %}
                        {% endif %}

                        <form method="POST" class="">
                            {% csrf_token %}
                            <div class = 'table-responsive'>
                                <table class = "table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width:25%">Mode</th>
                                        <th>Administration of mode</th>
                                        <th style="width:10%; text-align: center">Add</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr class="fieldWrapper">
                                        <td>{{ form.transit_mode }}</td>
                                        <td>{{ form.administration_of_mode}}</td>
                                        <td style="text-align: center"><input type="submit" value="Add mode" class="btn btn-sm btn-primary"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>


                    </div>
                    <div class="text-center">
                        <a class="btn btn-lg btn-primary" href="{% url 'accept_modes' %}">Confirm service</a>
                    </div>
                </div>




            </div>

        </div>

    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Are you sure you wish to delete this mode?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class = 'table-responsive'>
                        <table class = "table table-bordered">
                            <thead>
                            <tr>
                                <th>Mode</th>
                                <th>Administration of mode</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span id="delete-mode-detail"></span></td>
                                <td><span id="delete-admin-mode-detail"></span></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="final-delete" type="button" class="btn btn-danger" style="color: white">Delete mode</a>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}


{% block page_scripts %}
    <script>
        $( ".delete-mode" ).click(function(e) {
            e.preventDefault();
            $("#delete-mode-detail").text($(this).attr('data-mode'));
            $("#delete-admin-mode-detail").text($(this).attr('data-admin-mode'));
            $('#final-delete').attr('href', "{% url 'delete_summary_mode_root' %}" + $(this).attr('data-mode') + "/" + $(this).attr('data-admin-mode'));
            $('#deleteModal').modal('show')
        });

    </script>

{% endblock %}


