{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}

{%  endblock %}
        <!-- Page Heading -->
{% block content %}

  <div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_report_data' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'summary_modes' %}">Confirm and update agency's transit modes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report_transit_data' %}">Report transit data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report_revenues' %}">Report revenues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'report_expenses' %}">Report expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'review_data' %}">Review submitted data</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body" style="">
                <p> Welcome to the Summary of Public Transportation data reporting section. Please confirm that these are the modes that your transit operates, add any modes in the next column, and
                review the relevant modes. If you would like to delete a mode, please report all zeros in the next section. If you would like to combine or change a mode that you believe was previously reported erroneously, please be in touch with the Summary site administrators</p>
                <div class = 'table-responsive'></div>
                        <table class = "table table-bordered">
                            <thead><th>Nature of Service</th>
                                    <th>Mode</th></thead>
                        {%  for mode in modes %}
                        <tr class="fieldWrapper"><td>
                            {{ mode.administration_of_mode}}</td>
                        <td>
                             {{ mode.mode}}</td>
                        </tr>
                            {%  endfor %}
                      </table>



                <p> Please add any new modes that you are operating here</p>
                        <table>
                            <form method="POST" class="post-form">{% csrf_token %}

                                {{ formset.as_p }}
                                {{ formset.management_form }}
                                <input type="submit" value="Confirm Current and Added Modes" class="btn btn-primary float-right mt-3" onclick="report_transit_data">
                            </form>
                        </table>
                </div>
                </div>
            </div>
        </div>
        </div>
  </div>
{%  endblock %}




