{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}
{% load multifor %}

{% block head_content %}
    <link href="{% static 'css/slidder.css'%}" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_report_data' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_modes' %}">Confirm services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if template_data.report_type == 'transit_data' %}active{% endif %}" href="{% url 'summary_reporting_type' 'transit_data' %}">Transit data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if template_data.report_type == 'revenue' %}active{% endif %}" href="{% url 'summary_reporting_type' 'revenue' %}">Revenue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if template_data.report_type == 'expense' %}active{% endif %}" href="{% url 'summary_reporting_type' 'expense' %}">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if template_data.report_type == 'fund_balance' %}active{% endif %}" href="{% url 'summary_reporting_type' 'fund_balance' %}">Ending balances</a>
                        </li>
                        {% if ready_to_submit %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'submit_data' %}">Submit data</a>
                            </li>
                        {% endif %}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{% url 'review_data' %}">Review</a>#}
{#                        </li>#}

                    </ul>
                </div>

                <div class="card-body" style="">

                    {% if template_data.no_reports %}
                        <div class="alert alert-info">You do not need to report anything in this section please press the button below to advance to the next reporting section.</div>
                    {% endif %}
                    {% if template_data.nav_filter_count == 2 %}
                        <ul class="nav justify-content-center pt-2" style="font-size: 1.25rem">
                            {% for nav_item in template_data.nav_filters %}
                                <li class="nav-item pl-2 pr-2">
                                    <a class="nav-link{% if template_data.form_filter_1 == nav_item.0 and template_data.form_filter_2 == nav_item.1 %} disabled {% endif %}" href="{% url 'summary_reporting_filters' template_data.report_type nav_item.0 nav_item.1 %}">{{ nav_item.0 }} - {{ nav_item.1 }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h3>{{ template_data.nav_filters }}</h3>
                    {% endif %}

                    <form id="summary_data_form" method="POST" class="disabled-form">
                        {% csrf_token  %}
                    {% if not template_data.no_reports %}
                        <table class="table table-striped table-responsive">
                            <thead>
                            <tr style="min-height: 3.5rem">
                                <th width="10%" style="min-width: 125px">Revenue source</th>
                                <th class="two-years-ago" width="10%" style="min-width: 125px">{{ template_data.formsets.two_years_ago.0.year.value }} <a class="edit-column" href="#">(edit)</a></th>
                                <th class="two-years-ago comments" width="25%" style="min-width: 125px; display: none">{{ template_data.formsets.two_years_ago.0.year.value }} comments</th>
                                <th class="previous-year" width="10%" style="min-width: 125px">{{ template_data.formsets.previous_year.0.year.value }} <a class="edit-column" href="#">(edit)</a></th>
                                <th class="previous-year comments" width="25%" style="min-width: 125px; display: none">{{ template_data.formsets.previous_year.0.year.value }} comments</th>
                                <th class="this-year" width="10%" style="min-width: 125px">{{ template_data.formsets.this_year.0.year.value }} <a class="edit-column" style="display: none;" href="#">(edit)</a></th>
                                <th class="this-year comments" width="25%" style="min-width: 125px">{{ template_data.formsets.this_year.0.year.value }} comments</th>
                                <th>Validation errors</th>
                                <th style="display: none">Hidden</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for form_x in template_data.formsets.this_year; form_y in template_data.formsets.previous_year; form_z in template_data.formsets.two_years_ago %}
                                <tr>
                                    <td class="align-top label_values" style="max-width: 5rem">{% get_form_labels forloop.counter0 template_data.formset_labels %}</td>
                                    <td class="two-years-ago summary-input align-top AutoNumeric-{% get_masking_class forloop.counter0 template_data.masking_class %}" >{{ form_z.reported_value}}</td>
                                    <td class="two-years-ago comments align-top" style="display: none;">{{ form_z.comments }}</td>
                                    <td class="previous-year summary-input align-top AutoNumeric-{% get_masking_class forloop.counter0 template_data.masking_class %}" >{{ form_y.reported_value }}</td>
                                    <td class="previous-year comments align-top" style="display: none;">{{ form_y.comments }}</td>
                                    <td class="this-year summary-input align-top AutoNumeric-{% get_masking_class forloop.counter0 template_data.masking_class %}" >{{ form_x.reported_value }}</td>
                                    <td class="this-year comments align-top" >{{ form_x.comments }}</td>
                                    <td class="validation_errors"><ul class="errorlist"></ul></td>
                                    <td style="display: none">
                                        {{ form_x.revenue_source}} {{ form_x.transit_metric }} {{ form_x.expense_source }} {{ form_x.fund_balance_type }}
                                        {{ form_y.revenue_source }} {{ form_y.transit_metric }} {{ form_y.expense_source }} {{ form_y.fund_balance_type }}
                                        {{ form_z.revenue_source }} {{ form_z.transit_metric }} {{ form_z.expense_source }} {{ form_z.fund_balance_type }}
                                        {{ form_x.id}}
                                        {{ form_y.id }}
                                        {{ form_z.id }}
                                        {{ form_x.year}}
                                        {{ form_y.year }}
                                        {{ form_z.year }}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if template_data.show_totals %}
                                <tr>
                                    <td><b>Sub totals</b></td>
                                    <td style="font-weight: bold; padding-left: 1rem"><span id="sub-total-two-years-ago"></span></td>
                                    <td class="two-years-ago comments" style="display: none;"></td>
                                    <td style="font-weight: bold; padding-left: 1rem"><span id="sub-total-previous-year"></span></td>
                                    <td class="previous-year comments" style="display: none;"></td>
                                    <td style="font-weight: bold; padding-left: 1rem"><span id="sub-total-this-year"></span></td>
                                    <td class="this-year comments"></td>
                                    <td></td>
                                    <td style="display: none"></td>
                                </tr>
                                <tr>
                                    <td><b>Revenue grand totals</b></td>
                                    <td style="font-weight: bold; padding-left: 1rem"><span id="grand-total-two-years-ago"></span></td>
                                    <td class="two-years-ago comments" style="display: none;"></td>
                                    <td style="font-weight: bold; padding-left: 1rem"><span id="grand-total-previous-year"></span></td>
                                    <td class="previous-year comments" style="display: none;"></td>
                                    <td style="font-weight: bold; padding-left: 1rem"><span id="grand-total-this-year"></span></td>
                                    <td class="this-year comments" style="display: none;"></td>
                                    <td></td>
                                    <td style="display: none"></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    {% endif %}
                        {{ template_data.formsets.this_year.management_form }}
                        {{ template_data.formsets.previous_year.management_form }}
                        {{ template_data.formsets.two_years_ago.management_form }}
                        <div class="text-center">
                            <input id="submit_btn" type="button" data-toggle="modal" data-target="#validating_modal" data-backdrop="static" data-keyboard="false" value="Submit" class="btn btn-primary btn-lg mt-3" style="min-width: 12rem;">
                            <button type="submit" id="true_submit" style="display: none;" />Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="validating_modal" tabindex="-1" role="dialog" aria-labelledby="validate_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="row w-100">
                <div class="col" style="min-height: 10rem">
                    <ul class="c text-center">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="row w-100">
                <div class="col align-middle" style="color: white">
                    <p class="mb-0" style="font-size: 2rem">Validating data</p>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}

{% block page_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script src="{% static 'js/AutoNumeric_Settings.js' %}"></script>
    <script src="{% static 'js/Summary_Data_Entry_Tables.js' %}"></script>
    <script src="{% static 'js/front_end_validation.js' %}"></script>

    <script>
        $('#submit_btn').click(function() {
            const submitButton = document.querySelector('#true_submit')
            submitButton.click()
        });
    </script>

    {% if template_data.show_totals %}
        <script src="{% static 'js/findTotal.js' %}"></script>

        <script type="text/javascript">
            function findTotal_wrapper(){
                findTotal({{ template_data.other_totals.this_year.reported_value__sum }}, {{ template_data.other_totals.previous_year.reported_value__sum }}, {{ template_data.other_totals.two_years_ago.reported_value__sum }})
            }
            $(document).ready(function () {
                findTotal_wrapper()
            });
        </script>
    {% endif %}

    <script>



    </script>
{% endblock %}