{% extends 'index.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head_content %}


{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'summary_report_data' %}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_modes' %}">Confirm services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'transit_data' %}">Transit data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'revenue' %}">Revenue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'expense' %}">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'summary_reporting_type' 'fund_balance' %}">Ending balances</a>
                        </li>
                        {% if ready_to_submit %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'submit_data' %}">Submit data</a>
                            </li>
                        {% endif %}
                        {#                        <li class="nav-item">#}
                        {#                            <a class="nav-link" href="{% url 'review_data' %}">Review</a>#}
                        {#                        </li>#}
                    </ul>
                </div>
                <div class="card-body" style="">
                    <h1>Summary of Public Transportation reporting</h1>
                    <div class="alert alert-info" role="alert"><b>Please take a moment to read the instructions.</b></div>
                    <ul>
                        <li>Now that you have submited your coversheet it is time to report your data.</li>
                        <li>After you press the ‘let’s get started’ button below, you will be taken to the first page which
                        will ask you confirm or update information about the types of services you operate.</li>
                        <li>Once you are satisfied with the content press the 'confirm service' button, to be taken to the next screen.</li>
                        <li>Here you will begin to enter you data.</li>
                        <li>You will see the service you are entering data about will be listed in the heading in black text.</li>
                        <li>You may get some validation errors when you enter your data.  If this happens please provide a comment to explain your data in more detail.</li>
                        <li>After completing each page, press the submit button to be taken to either the next service you operate or the next section of reporting</li>
                        <li>You will repeat this process until you have completed your report.</li>
                        <li>You may go back to previous sections by navigating through the tabs, and clicking on the links for each service, revenue, or expense type.</li>
                        <li>Once you are done reporting, be sure to submit your data.</li>
                    </ul>
                    <p><b>We are here to help!</b>  If at any point you get stuck or have difficulties please reach out to us and ask for help.</p>
                    <p> Current contact information is available on the <a href="{% url 'Help' %}">help page.</a></p>

                    <div class="text-center">
                        <a class="btn btn-primary btn-lg" href="{% url 'summary_modes' %}">Let's get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{%  endblock %}

{% block page_scripts %}


{% endblock %}